<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><i><%= err.message.toUpperCase() %> </i></h4>
<p>
    <i>
        <% if (process.env.NODE_ENV !== "production") { %>
        <%= err.stack %> 
        <% } %>
    </i>
</p>
            </div>
        </div>
    </div>